.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
  width: 100%;
  position: relative;

  > h2 {
    font-size: 1.3em;
    margin: 0;
  }
  .roundOption {
    display: flex;
    label,
    p {
      font-size: 18px;
      margin: 0;
    }
    select {
      font-size: 15px;
    }
  }
}

.slider {
  width: 100%;
  flex: auto;
  overflow: hidden;
  position: relative;

  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .endRound {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      background-color: var(--card-color);
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      padding: 0 30px;
      height: 90%;
      width: calc(90% - 60px);
      text-align: start;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }
      ul {
        flex: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: black;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        button {
          cursor: pointer;
          margin-bottom: 10px;
        }
        .backToMenu {
          color: var(--link-color);
        }
      }
    }
  }
}

.shuffle,
.defiFirst {
  display: flex;
  position: relative;
  // top: 0;
  // right: 0;
  margin: 0;
  color: var(--text-color);
  label,
  input {
    font-size: 18px;
    display: inline-block;
  }
}
.shuffleForgotten {
  display: flex;
  position: relative;
  // top: 0;
  // right: 0;
  margin: 4px 10px;
  color: var(--link-color);
  font-size: 18px;
  padding: 0;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 200ms;
  &:hover {
    text-decoration: underline;
    color: var(--text-color);
  }
}

@media screen and (min-width: 768px) {
  .container {
    > h2 {
      font-size: 1.5em;
    }
  }
  .shuffle {
    margin-top: 10px;
  }
  .shuffle,
  .defiFirst {
    font-size: 20px;
  }
  .shuffleForgotten {
    margin: 4px;
  }
  .slider .endRound .modal ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    > h2 {
      margin: 20px 0;
    }
  }
  .model {
    height: 70%;
    width: 70%;
    max-width: 1200px;
    max-height: 1000px;
  }
  .slider .endRound .modal {
    height: 70%;
    width: calc(70% - 60px);
    max-width: calc(1200px - 60px);
    max-height: 1000px;
  }
}
