.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
  width: 100%;

  > h2 {
    margin: 20px 0 0;
  }
}

.slider {
  width: 100%;
  flex: auto;
  overflow: hidden;
  position: relative;

  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .slides::-webkit-scrollbar {
  //   width: 10px;
  //   height: 10px;
  // }
  // .slides::-webkit-scrollbar-thumb {
  //   background: black;
  //   border-radius: 10px;
  // }
  // .slides::-webkit-scrollbar-track {
  //   background: transparent;
  // }
}

@media screen and (min-width: 1280px) {
  .container {
    > h2 {
      margin: 20px 0;
    }
  }
}
