.App {
  text-align: center;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--text-color);
  min-height: 100vh;
  min-width: 300px;
}

.link {
  color: var(--link-color);
}

.backToMenu {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  color: var(--link-color);
  text-decoration: none;
  font-size: 18px;
}

.menu {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .App {
    padding: 0 30px;
  }
  .backToMenu {
    font-size: 20px;
    padding: 10px;
  }
}
